<!DOCTYPE html>
<html>
<head>
  <title><%= contact.title %></title>
</head>
<body>
  <h1><%= contact.title %></h1>
  <p>Email: <%= contact.email %></p>
  <p>Phone: <%= contact.phone %></p>
</body>
</html>
